
html, body{
    background-color:#606060;
    color:#E6E6E5;
    margin:0;
    height:100%;
    width:100%;
}

#iframe{
    display:none;
}

#frame{
    width:100%;
}

strong{
    color:#dd741b;
}

a{
    color:#1279c4;
}

a:hover{
    color:#dd741b;
}

.block{
    padding:10px;
    border:3px solid #AAAAAA;
    background:#808080;
}

#footerhitbox{
    height:75px;
}

footer{
    clear: both;
    border: 3px solid #AAAAAA;
    background:#808080;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:75px;
}

#onConnected{
    display:none;
}
